<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>User Information </nb-card-header>
      <nb-card-body>
 
        <input type="text" nbInput fullWidth placeholder="User Name">
        <input type="text" nbInput fullWidth placeholder="Password">
        <input type="number" nbInput fullWidth placeholder="Mobile Number">
        <input type="number" nbInput fullWidth placeholder="Mobile Number">
        <nb-select  fullWidth placeholder="Branch Name">
          <nb-option value="1">S.G Engineering Works</nb-option>
         
        </nb-select>

       
      </nb-card-body>
    </nb-card>
  </div>


 
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Login Information  </nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth placeholder="Login ID">
        <input type="email" nbInput fullWidth placeholder="Email">
 
      </nb-card-body>
      
    </nb-card>

    <nb-card> 
      <nb-card-header>Access Information</nb-card-header>
      <nb-card-body>
        <nb-radio-group [(value)]="radioGroupValue">
          <nb-radio [value]="'Read'"> Read </nb-radio>
          <nb-radio [value]="'Write'">Write</nb-radio>
          <nb-radio [value]="'Read/Write'">Read/Write</nb-radio>
        </nb-radio-group>
     </nb-card-body>
  </nb-card>

 
  </div>
</div>


 